@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}
body {
  overflow-x: hidden;
  scroll-behavior: smooth;
}
li {
  text-transform: capitalize;
}
.active {
  background-color: #e6e7e7;
  padding: 7px 10px;
  border-radius: 10px;
}
.vertical-timeline-element-content-arrow {
  background-color: transparent !important;
  color: transparent !important;
}
.anime {
  cursor: pointer;
}
.anime:hover {
}
.anime::after {
  content: "";
  bottom: 0;
  position: absolute;
  right: 21%;
  height: 2px;
  width: 50%;
  background-color: black;
}
@keyframes animate {
  0% {
    width: 50%;
  }
  50% {
    width: 0;
  }
  100% {
  }
}
